<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
	<script type="text/javascript" src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1> {{ restaurant.name }}</h1>
		</div>
		<div class="row">
			<a class="btn btn-default" href="{{ url_for('newMenuItem',restaurant_id=restaurant.id) }}">Create New Item</a>
		</div>
		<div class="row">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong>{{ message }}</strong></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		</div>
		<div class="row">
			<div class="col-sm-12">
			{% if items %}
			{% for i in items %}

				<dl class="dl-horizontal">
					<dt>Name: </dt><dd >{{ i.name }}</dd>
					<dt>Price: </dt><dd>{{ i.price }}</dd>
					<dt>Description: </dt><dd>{{  i.description }}</dd>
				</dl>
				<p>
					<a class="btn btn-primary" href="{{ url_for('editMenuItem',restaurant_id = restaurant.id, menu_id = i.id) }}">Edit</a>
					<a class="btn btn-danger" href="{{ url_for('deleteMenuItem',restaurant_id = restaurant.id, menu_id = i.id) }}">Delete</a>
				</p>
			{% endfor %}
			{% else %}
				You don't have entries here
			{% endif %}
			</div>
		</div>
	</div>
</body>
</html>